{% extends 'base.html.twig' %}

{% block title %}Fahrt{% endblock %}

{% block body %}
    <h1>Fahrtdetails</h1>
    <p>
        <a href="{{ path('app_trip_index') }}">Zurück zur Fahrtenübersicht</a>
    </p>

    <table class="table">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ trip.id }}</td>
            </tr>
            <tr>
                <th>Startort</th>
                <td>{{ trip.startLocation }}</td>
            </tr>
            <tr>
                <th>Zielort</th>
                <td>{{ trip.endLocation }}</td>
            </tr>
            <tr>
                <th>Startzeitpunkt</th>
                <td>{{ trip.startDateTime ? trip.startDateTime|date('d-m-Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Endzeitpunkt</th>
                <td>{{ trip.endDateTime ? trip.endDateTime|date('d-m-Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Gefahrene Kilometer</th>
                <td>{{ trip.drivenKilometers }}</td>
            </tr>
            <tr>
                <th>Fahrzeug</th>
                <td><a href="{{ path('app_car_update', {'id': trip.car.id})}}">{{ trip.car.description }}({{ trip.car.plate}})</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_trip_edit', {'id': trip.id}) }}">Fahrt bearbeiten</a>

    {{ include('trip/_delete_form.html.twig') }}
{% endblock %}
