<div>
    <h1>Fahrtenbuchverwaltung</h1>
    <ul>
        <li> <a href="{{ path('app_home_index') }}">Home</a> </li>
        <li> <a href="{{ path('app_trip_index') }}">Fahrten端bersicht</a> </li>
        <li> <a href="{{ path('app_trip_new') }}">Fahrt hinzuf端gen</a> </li>
        <li> <a href="{{ path('app_car_list') }}">Auto端bersicht</a> </li>
        <li> <a href="{{ path('app_car_add') }}">Auto hinzuf端gen</a> </li>
    </ul>
</div>